.UserProfile {
    border-radius: 1rem;
    padding: 1.5rem;
    max-width: 400px;
    margin: 2rem auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(1px);
    display: flex;
    flex-direction: column;
    align-items: center; 
    position: relative;
  }
  
  .UserProfileTitle {
    font-size: 1.5rem; 
    font-weight: bold;
    text-align: center;
    margin-bottom: 1.5rem;
    padding: 1rem 2rem;
    color: #fff;
    background-color: rgba(202, 50, 50, 0.4); 
    border-radius: 10px;
    backdrop-filter: blur(8px); 
    -webkit-backdrop-filter: blur(8px); 
    display: inline-block; 
  }
  
  
  .UserDetails p {
    margin: 0.5rem 0;
  }
  
  .EditForm label {
    display: block;
    margin: 0.5rem 0;
  }
  
  .EditForm input {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.4rem;
    border: 1px solid #ccc;
  }
  
  .Buttons {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
  }
  
  .EditProfileButton{
    background-color: #805c5c;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
  } 
  
  .Buttons button {
    background-color: #805c5c;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
  }
  
  .EditProfileButton:hover{
    background-color: #cb7575;
  }
  
  .Buttons button:hover {
    background-color: #cb7575;
  }
  
  .Error {
    color: red;
    text-align: center;
  }
  
  .dashboard-message {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #a3f0a6; 
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    border-radius: 5px;
    z-index: 10000;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.3);
  }