.TaskHeading{
    border-radius: 1em;
    background-color: rgb(197, 221, 221);    
    padding: 1em;
    margin: 1rem;
    top: 4em; 
    left: 5%; 
    width: 30%; 
    height: auto;
    position: fixed;  
}

.TaskHeading p{
    font-size: 1em;
}

.NewTaskButton{
    border: transparent;
    display: inline-block;
    background-color: transparent;
    font-size: 1.2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.NewTaskButton:hover{
    color: #0970a0;
    transform: scale(1.4);
}

.FilterSortButton{
    border: transparent;
    display: inline-block;
    background-color: transparent;
    font-size: 0.8rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.FilterSortButton:hover{
    color: #0970a0;
    transform: scale(1.4);
}

.inline-add-task {
  display: flex;
  gap: 8px;
  margin-top: 1rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.inline-add-task input {
  flex: 1;
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px;
  border-color: transparent;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.inline-add-task input:hover{
  background-color: rgb(209, 253, 253)
}

.inline-add-task select {
  padding: 0.5rem;
  border-radius: 8px; 
  border: 1px;
  background-color: #fff; 
  color: #000;
  border-color: transparent;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.inline-add-task select:hover{
  background-color: rgb(209, 253, 253);
}


.inline-add-task button {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: none;
  background-color: #d1e9f5;
  cursor: pointer;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.inline-add-task button:hover {
  background-color: rgb(209, 253, 253);
}

.inline-filter-task {
  display: flex;
  gap: 20px;
  margin-top: 1rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.inline-filter-task select{
  padding: 0.5rem;
  border-radius: 8px; 
  border: 1px;
  background-color: #fff; 
  color: #000;
  border-color: transparent;
}

.inline-filter-task select:hover{
  background-color: rgb(209, 253, 253);
}

.inline-filter-task button{
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: none;
  background-color: #d1e9f5;
  cursor: pointer;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.inline-filter-task button:hover{
  background-color: rgb(209, 253, 253);
}


/*Responsive Adjustment*/
@media (max-width: 768px) {
    .TaskHeading {
      border-radius: 1rem;
      position: relative;  
      width: auto;
      top: 0.5rem;          
      left: 0;
      right: 0;
      margin: 1rem;
    }
  
    .TaskHeading p {
      padding-left: 1rem;
      font-size: 0.8rem;     
    }

    .NewTaskButton {
        font-size: 1rem;
    }

    .FilterSortButton {
        font-size: 0.7rem;
    }
}

