*{
    margin: 0;
    padding: 0;
}

.SideBar {
    top: 5em; 
    right: 2em;  
    width: 15%;
    height: 80%;
    position: fixed; 
    margin: 1rem;     
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: transparent;
    align-items: start;
}
  

.PictureCard {
    position: relative; 
    background: url('../src/assets/calender3.png') center/cover no-repeat;
    border-radius: 1rem;
    width: 200px;          
    padding-top: 200px; 
    margin-left: auto; 
    margin-right: auto;
    text-align: center; 
    color: rgb(10, 56, 97);   
    transform: scale(1);   
}

.PictureCard p1,
.PictureCard p2,
.PictureCard p3 {
    position: absolute;
    width: 100%;
    left: 0;
    margin-top: 30px;
}


.PictureCard p1 {
    top: 15%;          
    font-size: 4em;
}

.PictureCard p2 {
    top: 45%;          
    font-size: 3em;
}

.PictureCard p3 {
    top: 70%;          
    font-size: 1.5em;
}

@media (max-width: 768px) {
    .SideBar{
      display: none; 
    }
}

@media (width: 2560px) {
    .PictureCard {
        margin-top: 5%;
        transform: scale(1.2);
    }
}

@media (width: 1440px) {
    .PictureCard {
        margin-top: 5%;
        transform: scale(0.7);
    }
}

@media (max-width: 1024px) {
    .PictureCard {
        margin-top: 5%;
        transform: scale(0.6);
    }
}

.DetailsCard{
    border-radius: 10px;
    background-color: rgb(8, 117, 99);
    width: 90%; 
    margin-top: 30%;
    margin-left: 5%;
    height: calc(100% - 60%);       
}







  