.TaskBar {
    position: fixed;   
    margin-top: 7rem;  
    left: 5%;  
    width: 70%;
    max-height: 70%;
    overflow-y: auto; 
}

@media (max-width: 768px) {
    .TaskBar {
        position: fixed;           
        top: 8rem;                 
        width: 100%;             
        overflow-y: auto;          
        margin-top: 2%;
        left: 0;
        border-radius: 0;
        z-index: 999;     
    }

}



.TaskBar::-webkit-scrollbar {
    width: 0.7vh; 
}



.TaskBar::-webkit-scrollbar-track {
    background: #b8b8b8; 
    border-radius: 10px;
}


.TaskBar::-webkit-scrollbar-thumb {
    background: #f6fffe; 
    border-radius: 10px;
}

.TaskBar::-webkit-scrollbar-thumb:hover {
    background: #903d55;
}


.TaskCard {
    border-radius: 1rem;
    box-shadow: 2rem 2rem 10rem rgba(0,0,0,0.3);
    background-color: rgb(205, 180, 180);
    padding: 0.5rem;    
    margin: 1rem;
}

.TaskCard.completed{
    filter: grayscale(100%);
}

.TaskCard.ongoing{
    box-shadow: 0 0 10px rgba(0, 255, 217, 0.708);
}

.TaskDescriptionCard { 
    position: relative;
    display: inline-block;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: rgb(210, 200, 200);
    font-size: 1rem;
    margin: 0.5rem;
    width: 70%;
}

@media (max-width: 768px) {
    .TaskDescriptionCard { 
        display: block;
        position: relative;
        width: auto;
    }
}

.TaskStatusCard{
    display: inline-block;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: rgb(210, 200, 200);
    font-size: 0.7rem;
    margin: 0.5rem;
    width: 8%;
}

@media (max-width: 768px) {
    .TaskStatusCard { 
        display: inline-block;
        position: relative;
        width: 20%;
    }
}

.TaskPriority{
    display: inline-block;
    font-size: 1.5rem;
    position: relative;
    margin-left: 1%;
}


@media (max-width: 768px) {
    .TaskPriority { 
        font-size: 1rem;
        padding-left: 2%;  
    }
}

@media (width: 1024px) {
    .TaskPriority { 
        font-size: 1.2rem; 
        padding-left: 7%;
    }
}

.TaskPriority.high{
    color: rgb(142, 15, 15);
}

.TaskPriority.low{
    color: rgb(211, 147, 147);
}

.TaskPriority.medium{
    color: rgb(215, 109, 109);
}

.EditButton{
    display: inline-block;
    font-size: 1.5rem;
    background-color: transparent;
    border: transparent;
    padding-left: 2%;
}

.EditButton:hover{
    color: #903d55;
    transform: scale(1.2);
}

@media (max-width: 767px) {
    .EditButton { 
        font-size: 1.2rem;
        padding-left: 35%;  
    }
}

@media (width: 768px) {
    .EditButton { 
        font-size: 1.2rem;
        padding-left: 50%; 
    }
}


.DeleteButton{
    display: inline-block;
    font-size: 1.2rem;
    background-color: transparent;
    border: transparent;
    padding-left: 4%;
}

.DeleteButton:hover{
    color: #dd0606;
    transform: scale(1.2);
}

@media (max-width: 768px) {
    .DeleteButton { 
        font-size: 1rem;
        padding-left: 8%;  
    }
}

